{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Cors": {
    "AllowedOrigins": ["http://localhost:5173"]
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost\\SQLEXPRESS;Database=SupplierDueDiligence;Trusted_Connection=True;TrustServerCertificate=True"
  },
  "Settings": {
    "Internal": {
      "InternalSecretKey": "",
      "InternalApiUrl": "http://localhost:3000/internal"
    },
    "Jwt": {
      "CookieKey": "jwt_token",
      "Key": "",
      "Issuer": "",
      "Audience": "",
      "ExpiresInMinutes": 60
    }
  }
}
